@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@200;300;500&display=swap');

.text-color-prymary{color: #626464;}
.text-color-link{color: #818181;}
.main-color{color:#03045E}
.p-color {color: #ee82ee}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url('BG.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

.container {
    margin: 50px auto
}

.body-create-data {
    position: relative;
    width: 140vh;
    height: 90vh;
    margin: 20px auto;
    border: 1px solid #dddd;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px
}



.box-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.box-1{background: white;}

.box-2 {
    padding: 10px;
    background: white;
    
}

.box-1,
.box-2 {
    width: 50%
}

.h-1 {
    font-size: 24px;
    font-weight: 700
}

.text-muted {
    font-size: 14px
}

.container .box {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    text-decoration: none;
    color: #615f5fdd
}

.box:active,
.box:visited {
    border: 2px solid #ee82ee
}

.box:hover {
    border: 2px solid #ee82ee
}


/* .btn.btn-primary {
    background-color: transparent;
    color: #ee82ee;
    border: 0px;
    padding: 0;
    font-size: 14px
} */

/* .btn.btn-primary .fas.fa-chevron-right {
    font-size: 12px
} */

.footer .p-color {
    color: #ee82ee
}

.footer.text-muted {
    font-size: 10px
}

#frame{
    height: 35vh;
}

.pict img{
    width: 100%;
    height: 100%;
}

.file {
    visibility: hidden;
    position: absolute;
  }

.carousel-item{
  height: 80vh;
  max-height: 100%;
  background: no-repeat center center scroll;
}

/* .carousel-inner{
    height: 100vh;
} */

@media (max-width:767px) {
    body {
        padding: 10px
    }

    .body-create-data {
        width: 50vh;
        height: 100%
    }

    .box-1 {
        width: 100%
    }

    .box-2 {
        width: 100%;
        height: 440px
    }
}